# ðŸ§¹ Data Cleaning & EDA Report

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('cleaned_data.csv')
df.head()

,Date,Company,R&D_Spending_USD_Mn,AI_Revenue_USD_Mn,AI_Revenue_Growth_%,Event,Stock_Impact_%
0,2015-01-01,OpenAI,5.92,0.63,-36.82,NaN,-0.36
1,2015-01-02,OpenAI,5.41,1.81,80.59,NaN,0.41
2,2015-01-03,OpenAI,4.50,0.61,-38.88,NaN,0.23
3,2015-01-04,OpenAI,5.45,0.95,-5.34,NaN,0.93
4,2015-01-05,OpenAI,3.40,1.48,48.45,NaN,-0.09

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10959 entries, 0 to 10958
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 10959 non-null  object
 1   Company              10959 non-null  object
 2   R&D_Spending_USD_Mn  10959 non-null  float64
 3   AI_Revenue_USD_Mn    10959 non-null  float64
 4   AI_Revenue_Growth_%  10959 non-null  float64
 5   Event                233 non-null    object
 6   Stock_Impact_%       10959 non-null  float64
dtypes: float64(4), object(3)
memory usage: 599.4+ KB

In [3]:
# Basic stats
print(df.describe())

       R&D_Spending_USD_Mn  AI_Revenue_USD_Mn  AI_Revenue_Growth_%  \
count         10959.000000       10959.000000         10959.000000
mean             65.184504          44.126571           159.395988
std              47.918247          41.639356           135.462185
min               1.570000          -0.550000          -155.430000
25%               8.640000           3.610000            43.870000
50%              70.960000          35.220000           133.750000
75%              99.600000          71.680000           258.300000
max             163.830000         155.960000           565.500000

       Stock_Impact_%
count    10959.000000
mean         0.025560
std          0.749513
min         -3.000000
25%         -0.500000
50%          0.000000
75%          0.510000
max         18.500000

In [4]:
# Show saved figures
import os
os.listdir('figures')

['bar_Company.png',
 'bar_Event.png',
 'box_AI_Revenue_Growth_%.png',
 'box_AI_Revenue_USD_Mn.png',
 'box_R&D_Spending_USD_Mn.png',
 'box_Stock_Impact_%.png',
 'corr_matrix.png',
 'hist_AI_Revenue_Growth_%.png',
 'hist_AI_Revenue_USD_Mn.png',
 'hist_R&D_Spending_USD_Mn.png',
 'hist_Stock_Impact_%.png']